<div class="card ">
    <div class="card-body">
        <form [formGroup]="form" method="#" action="#" *ngIf="canShowForm">

            <div class="row">
                <div class="col-md-12">
                    <legend class="legend">
                        Anexos para sustentar a submissão do processo
                    </legend>
                    <span class="block text-muted">Anexe neste espaço ficheiros que sustentam o seu processo</span>
                    <span class="block text-danger">* Para anexar, informe primeiro o nome para identificar o ficheiro, de seguida clique no botão "SELECIONE UM FICHEIRO" que irá aparecer apos a inserção do nome.</span>
                    <span class="block text-danger">* Tem a possibilidade de anexar vários ficheiros, poderá o fazer anexando um ficheiro de cada vez.</span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <!-- <input type="file" class="form-control"> -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName="fileName" placeholder="Digite o nome do ficherio" />
                            </div>
                        </div>
                    </div>
                    <div class="fileinput fileinput-new text-center" data-provides="fileinput" *ngIf="form?.value.fileName">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="">
                                    <span class="btn btn-rose btn-round btn-file">
                                        <span class="">Selecione um ficheiro</span>
                                        <!-- <span class="fileinput-new">Selecione um ficheiro</span> -->
                                        <!-- <span class="fileinput-exists">Change</span> -->
                                        <input type="file" name="..." (change)="select($event)" />
                                    </span>
                                    <!-- <button type="button" class="btn btn-info btn-round mr-2" (click)="add()">Adicionar</button> -->
        
                                    <!-- <a href="javascript:void(0)" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a> -->
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="attachments.length > 0">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                                <th class="text-left">
                                    Nome atribuído
                                </th>
                                <th class="text-left">
                                    Nome do ficheiro
                                </th>
                                <th>
                                    Acções
                                </th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let attachment of attachments; let i=index">
                                    <td class="text-left">
                                        {{attachment?.fileName}}
                                    </td>
                                    <td class="text-left">
                                        {{attachment?.originalFileName}}
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-info  btn-sm mr-2"
                                        data-toggle="modal" data-target="#noticeModal" (click)="preview(attachment)">
                                            <span>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                                    <path
                                                        d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                                                    <path
                                                        d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                                                </svg>
                                            </span>
                                        </button>

                                        <button type="button" class="btn btn-danger btn-sm mr-2" (click)="delete(i)">
                                            <span><i class="nc-icon nc-simple-delete"></i></span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="modal fade" id="noticeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-notice">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    <i class="nc-icon nc-simple-remove"></i>
                                  </button>
                                </div>
                                <div class="modal-body">
                                 <div *ngIf="showPreview">
                                    <embed [src]="safeUrl" class="card-img-top" type="application/pdf" width="800px" height="500px">
                                  </div>
                                </div>
                                <div class="modal-footer justify-content-center">
                                  <button type="button" class="btn btn-info btn-round" data-dismiss="modal">Fechar</button>

                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>

        </form>

    </div>
    <div class="card-footer" *ngIf="step">
        <button type="button" class="btn btn-default btn-round mr-2" (click)="onPrevious()">Anterior</button>
        <button type="submit" class="btn btn-default btn-round mr-2" (click)="onNext()">Avançar</button>
        <!-- <a href="#" class="btn btn-warning btn-round ml-4" routerLink="/back-office/users/list">Cancelar</a> -->
    </div>

    <div class="card-footer" *ngIf="!step">
        <button type="button" class="btn btn-info btn-round mr-2" (click)="onSubmit()">Salvar</button>
        <a href="#" class="btn btn-warning btn-round ml-4" routerLink="/back-office/users/list">Cancelar</a>
    </div>
</div>