<div class="main-content">
    <allocation-details *ngIf="canShowAllocationDetails"
        [process]="process"
        [allocation]="allocation"
        [allocationComments]="allocationComments" >
    </allocation-details>
    
    <follow-up-allocation-process *ngIf="canShowFollowUpProcessAllocation" 
        [allocationStatuses]="allocationStatuses"
        [process]="process"
        [allocation]="allocation"
        [followUpFrom]="'STAFF'"
        [closureTypes]="closureTypes"
        (outputAllocationData)="onOutputAllocationData($event)">
    </follow-up-allocation-process>

    <div class="row">
        <div class="col-sm-12">
            <a href="#" class="btn btn-warning btn-round" routerLink="/back-office/allocations/all-mine">Voltar à Lista das minhas alocações</a>
        </div>
    </div>
</div>