
<nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
    <div class="container">
        <div class="navbar-wrapper">
          <div class="navbar-toggle" (click)="sidebarToggle()">
            <button type="button" class="navbar-toggler">
              <span class="navbar-toggler-bar bar1"></span>
              <span class="navbar-toggler-bar bar2"></span>
              <span class="navbar-toggler-bar bar3"></span>
            </button>
          </div>
          <a class="navbar-brand" routerLinkActive="active" [routerLink]="['/dashboard']">Gabinete do provedor de justiça</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
          aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar navbar-kebab"></span>
          <span class="navbar-toggler-bar navbar-kebab"></span>
          <span class="navbar-toggler-bar navbar-kebab"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
          <ul class="navbar-nav">
            <li class="nav-item" *ngIf="!loggedUser">
              <a routerLinkActive="active" [routerLink]="['/guest/complainer/user-self-register']" class="nav-link">
                <i class="nc-icon nc-book-bookmark"></i> Registo
              </a>
            </li>
            
            <li class="nav-item" *ngIf="canShowBackOfficeSection">
              <a routerLinkActive="active" [routerLink]="['/back-office']"  class="nav-link">
                <i class="nc-icon nc-tap-01"></i> Administração
              </a>
            </li>
            
            <li class="nav-item" *ngIf="canShowCitezenSection">
              <a routerLinkActive="active" [routerLink]="['/citezen']"  class="nav-link">
                <i class="nc-icon nc-tap-01"></i> Cidadão
              </a>
            </li>
  
            <li class="nav-item" *ngIf="!loggedUser">
              <a routerLinkActive="active" [routerLink]="['/auth/login']"  class="nav-link">
                <i class="nc-icon nc-tap-01"></i> Entrar
              </a>
            </li>
  
          </ul>
        </div>
      </div>
  </nav>
  <div class="wrapper wrapper-full-page ">
    <div class="full-page register-page section-image" filter-color="black" data-image="./assets/img/bg/gpj/martelo_caderno.jpg">
      <!-- <div class="full-page section-image" filter-color="black" data-image="./assets/img/bg/gpj/martelo_caderno.jpg"> -->
      <div class="content">
        <div class="container">
          <div class="row">
            <div class="col-lg-5 col-md-5 ml-auto">
              <div class="info-area info-horizontal mt-5">
                <div class="icon icon-primary">
                  <i class="nc-icon nc-tv-2"></i>
                </div>
                <div class="description">
                  <h5 class="info-title">Recuperacao de Senha</h5>
                  <p class="description">
                    Use este espaço para recuperar a sua senha.
                  </p>
                </div>
              </div>
              <!-- <div class="info-area info-horizontal">
                <div class="icon icon-primary">
                  <i class="nc-icon nc-html5"></i>
                </div>
                <div class="description">
                  <h5 class="info-title">Fully Coded in HTML5</h5>
                  <p class="description">
                    We've developed the website with HTML5 and CSS3. The client has access to the code using GitHub.
                  </p>
                </div>
              </div>
              <div class="info-area info-horizontal">
                <div class="icon icon-info">
                  <i class="nc-icon nc-atom"></i>
                </div>
                <div class="description">
                  <h5 class="info-title">Built Audience</h5>
                  <p class="description">
                    There is also a Fully Customizable CMS Admin Dashboard for this product.
                  </p>
                </div>
              </div> -->
            </div>
            <div class="col-lg-4 col-md-6 mr-auto">
              <div class="card card-signup">
                <div class="card-header ">
                  <h4 class="card-title">Recuperar Senha</h4>
                </div>
                <div class="card-body ">
                  <form class="form" [formGroup]="form">
                    
                   


                    <div class="row">
                      <div class="col-md-12">
                          <label>Senha actual</label>
                          <div class="form-group">
                            <input type="text" maxlength="9" formControlName="username" placeholder="NUIT..." class="form-control" (focus)="focus1=true" (blur)="focus1=false">
                      <error-msg [control]="getFormControl(form, 'username')"
                        label="Utilizador/NUIT"></error-msg>
                          </div>
                      </div>
                      <div class="col-md-12">
                          <label>Nova senha</label>
                          <div class="form-group">
                            <input type="email" formControlName="email" class="form-control" placeholder="Email..." (focus)="focus2=true" (blur)="focus2=false">
                      <error-msg [control]="getFormControl(form, 'email')"
                        label="Email"></error-msg>
                          </div>
                      </div>
                  </div>
                    <!-- <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="nc-icon nc-badge"></i>
                          </span>
                        </div>
                        <input type="text" formControlName="celular" class="form-control" placeholder="Celular..." (focus)="focus=true" (blur)="focus=false">
                      </div> -->
                  </form>
                </div>
                <div class="card-footer ">
                  <div class="row">
                    <div class="col-md-12">
                      <button type="button" class="btn btn-primary btn-round mr-3" (click)="onSubmit()">Recuperar</button>
                  <button type="button" class="btn btn-primary btn-round " (click)="cancel()">Cancelar</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer footer-black  footer-white ">
        <div class="container">
          <div class="row">
            <!-- <nav class="footer-nav">
              <ul>
                <li>
                  <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>
                </li>
                <li>
                  <a href="http://blog.creative-tim.com/" target="_blank">Blog</a>
                </li>
                <li>
                  <a href="https://www.creative-tim.com/license" target="_blank">Licenses</a>
                </li>
              </ul>
            </nav> -->
            <div class="credits ml-auto">
              <span class="copyright">
                &copy; {{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by Creative Tim
              </span>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
  