<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card ">
                <div class="card-header ">
                    <h4 class="card-title">Criar Utilizador</h4>
                </div>
                <div class="card-body ">
                    <form [formGroup]="form" method="#" action="#" *ngIf="canShowForm">

                        <div class="row">
                            <div class="col-md-6">
                                <label>Tipo de utilizador</label>
                                <div class="form-group">
                                    <select formControlName="userType" class="form-control custom-select">
                                        <option value="">Seleccione o tipo</option>
                                        <option *ngFor="let userType of userTypes" [ngValue]="userType.key">
                                            {{userType.value}}</option>
                                    </select>
                                    <error-msg [control]="getFormControl(form, 'userType')"
                                        label="Tipo do Processo"></error-msg>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer ">
                    <button type="submit" class="btn btn-info btn-round" (click)="onSubmit()">Avançar</button>
                    <a href="#" class="btn btn-warning btn-round ml-4" routerLink="/back-office/users/list">Cancelar</a>
                </div>
            </div>
        </div>
    </div>
</div>