<div *ngIf="canShowDetails">
    <div class="row" style="margin-bottom: 20px;">
   
        <div class="col-md-4" *ngIf="allocation">
            <span class="card-category text-left text-default"> Estado da alocação  </span>
            <span class="badge badge-pill badge-success badge-content" [ngClass]="{'badge-warning': allocation?.status!='CLOSED'}"> {{allocation?.status | processStatus}}</span>
        </div>
        <div class="col-md-4" *ngIf="allocation">
            <span class="card-category text-left text-default"> alocação </span>
            <span class="badge badge-pill badge-success badge-content" [ngClass]="{'badge-warning': allocation?.closed!=true}"> {{allocation?.closed | allocationClosed}}</span>
        </div>
    
        <div class="col-md-4">
            <span class="card-category text-left text-default"> Estado do processo </span>
            <span class="badge badge-pill badge-success badge-content" [ngClass]="{'badge-warning': allocation?.process?.processStatus!='CLOSED'}"> {{process?.processStatus | processStatus}}</span>
        </div>
    </div>
    <div class="card mt-10">
        <div class="card-header">
            
            
            <div class="row">
                <div class="col-md-4">
                     <p class="card-category">Actualizar alocação</p>
                </div>
            </div>
        </div>
        <div class="card-body allocation-details">
    
            <div class="row">
                <div class="col-md-12">
                    <h6 class="title text-primary">Dados do Requerente</h6>            
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="">Nuit:</label>
                            <span>{{process?.complainer?.nuit}}</span>
                        </div>
                        <div class="col-sm-12">
                            <label for="">Nome:</label>
                            <span>{{process?.complainer?.name}}</span>
                        </div>
                        
                    </div>
    
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="">Celular:</label>
                            <span>{{process?.complainer?.mobile}}</span>
                        </div>
                        <div class="col-sm-12">
                            <label for="">Email:</label>
                            <span>{{process?.complainer?.email}}</span>
                        </div>
                        <div class="col-sm-12">
                            <label for="">Endereço:</label>
                            <span>{{process?.complainer?.address}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="section-divider">
    
            <div class="row">
                <div class="col-md-12">
                    <h6 class="title text-primary">Dados do processo</h6>            
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="">Código do processo:</label>
                            <span>{{process?.code}}</span>
                        </div>
                        <div class="col-sm-12">
                            <label for="">Tipo de processo:</label>
                            <span>{{process?.processType | processType}}</span>
                        </div>
                        <div class="col-sm-12">
                            <label for="">Tipo de queixoso:</label>
                            <span>{{process?.complainerType | complainerType}}</span>
                        </div>
                    </div>
    
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="">Descrição:</label>
                            <span>{{process?.description}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="section-divider">
    
            <div class="row attachments">
                <div class="col-md-12">
                    <h6 class="title text-primary">Anexos</h6>
                </div>
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="text-left">Nome atribuído</th>
                            <th class="text-left">Nome original</th>
                            <th class="text-right">Accções</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr  *ngFor="let attachment of allocation?.process?.attachments; let i = index">
                                <td class="text-left">{{attachment?.fileName}}</td>
                                <td class="text-left">{{attachment?.originalFileName}}</td>
                                <td class="text-right">
                                    <button type="button" class="btn btn-info  btn-sm mr-2" data-toggle="modal"
                                        data-target="#noticeModal" (click)="preview(attachment)">
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                                class="bi bi-eye" viewBox="0 0 16 16">
                                                <path
                                                    d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                                                <path
                                                    d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                                            </svg>
                                        </span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
    
                    <div class="modal fade" id="noticeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-notice">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                <i class="nc-icon nc-simple-remove"></i>
                              </button>
                            </div>
                            <div class="modal-body">
                             <div *ngIf="showPreview">
                                <embed [src]="safeUrl" class="card-img-top" type="application/pdf" width="800px" height="500px">
                              </div>
                            </div>
                            <div class="modal-footer justify-content-center">
                              <button type="button" class="btn btn-info btn-round" data-dismiss="modal">Fechar</button>
        
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
               
    
                
            </div>
    
            <hr class="section-divider">
    
        </div>
    
        
    
    </div>
    
    
    
    <div class="row">
        <div class="col-md-12">
          <div class="card card-timeline card-plain">
            <div class="card-body">
              <ul class="timeline">
                <li class="" [ngClass]="{'timeline-inverted': i%2!=0}" *ngFor="let allocationComment of allocationComments; let i = index">
                    <div class="timeline-badge danger" *ngIf="i%2!=0">
                        <i class="nc-icon nc-single-copy-04"></i>                    
                      </div>
                    <div class="timeline-badge success" *ngIf="i%2==0">
                        <i class="nc-icon nc-single-copy-04"></i>
                      </div>
                    
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <span class="badge badge-pill" [ngClass]="{'badge-danger': i%2!=0, 'badge-success': i%2==0}">{{allocationComment?.title}}</span>
                    </div>
                    <div class="timeline-body">
                      <p>{{allocationComment?.comment}}.</p>
                    </div>
                    <h6>
                      <i class="fa fa-clock-o"></i> {{allocationComment?.createdAt | date : "dd.MM.yyyy HH:mm"}}
                      <span *ngIf="allocationComment?.from=='STAFF'">PA: </span>
                      <span *ngIf="allocationComment?.from=='COMPLAINER'" >UT: </span>
                      <span> {{allocationComment?.authorName}}</span>
                    </h6>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
</div>




  <div class="card " *ngIf="canShowForm">
    <div class="card-header">
        
        
        <div class="row">
            <div class="col-md-4">
                <h6 class="text-primary">Seguimento do processo</h6>
                 <!-- <p class="card-category">Seguimento do processo</p> -->
            </div>
        </div>
    </div>
    <div class="card-body ">
        <form [formGroup]="form" method="#" action="#" >

            <div class="row">
                <div class="col-md-4">
                    <label>Fechar alocação?</label>
                    <div class="form-group">
                        <bSwitch
                        [switch-on-color]="'primary'"
                        [switch-off-color]="'primary'"
                        [switch-off-text]="'Não'"
                        [switch-on-text]="'Sim'" formControlName="closed">
                    </bSwitch>
                    </div>
                    
                </div>
            </div>

            <div class="row" *ngIf="!form.value.closed">
                <div class="col-md-12">
                    <label>Próxima fase</label>
                    <div class="form-group">
                        <select formControlName="allocationStatus" class="form-control custom-select">
                            <option value="">Seleccione a fase</option>
                            <option *ngFor="let allocationStatus of allocationStatuses" [ngValue]="allocationStatus.key">
                                {{allocationStatus.value}}</option>
                        </select>
                        <input type="hidden" formControlName="allocationId">
                        <error-msg [control]="getFormControl(form, 'allocationStatus')"
                            label="Próxima fase"></error-msg>
                    </div>
                </div>

                <div class="col-md-12" *ngIf="form.value.allocationStatus=='CLOSED'">
                    <label>Tipo de fecho</label>
                    <div class="form-group">
                        <select formControlName="closureType" class="form-control custom-select">
                            <option value="">Seleccione a fase</option>
                            <option *ngFor="let closureType of closureTypes" [ngValue]="closureType.key">
                                {{closureType.value}}</option>
                        </select>
                        <error-msg [control]="getFormControl(form, 'closureType')"
                            label="Próxima fase"></error-msg>
                    </div>
                </div>
            </div>

            <ng-container formGroupName="allocationComment">
                <div class="row">
                    <div class="col-md-12">
                        <label>Título</label>
                        <div class="form-group">
                            <input type="text" class="form-control" formControlName="title"
                                placeholder="Digite o título">
                            <error-msg [control]="getFormControl(form, 'allocationComment.title')"
                                label="Nome"></error-msg>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <label>Comentário</label>
                        <div class="form-group">
                            <textarea rows="4" cols="80" class="form-control textarea"
                                formControlName="comment"
                                placeholder="Escreva neste espaço o cometário"></textarea>
                            <error-msg [control]="getFormControl(form, 'allocationComment.comment')"
                                label="Descrição"></error-msg>
                        </div>
                    </div>
                </div>
            </ng-container>           
           
        </form>
    </div>

    <div class="card-footer">
        <div class="row">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-default btn-round mr-2" (click)="onSubmit()">Salvar</button>
                <!-- <a href="#" class="btn btn-warning btn-round" routerLink="/back-office/allocations/all-mine">Voltar à Lista das minhas alocações</a> -->
            </div>
        </div>
    </div>
   
</div>

