<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title text-right">
                        <a class="btn btn-default" [routerLink]="['/back-office/users/user-type']">
                            <i class="fa fa-plus mr-2"></i>
                             Adicionar Utilizador</a>
                    </h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                                <tr>
                                    <th class="text-center">
                                        ID
                                    </th>
                                    <th>
                                        Utilizador
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th class="text-right">
                                        Accoes
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of users">
                                    <td class="text-center">
                                        {{user.id}}
                                    </td>
                                    <td>
                                        {{user.username}}
                                    </td>
                                    <td>
                                        {{user.email}}
                                    </td>
                                    <td class="text-right">
                                        <button type="button" rel="tooltip"
                                            class="btn btn-info btn-icon btn-sm   btn-neutral  " (click)="userDetails(user?.id)">
                                            <i class="fa fa-eye"></i>
                                            
                                        </button>
                                        <button type="button" rel="tooltip"
                                            class="btn btn-info btn-icon btn-sm   btn-neutral  " (click)="editUser(user?.id)">
                                            <i class="fa fa-pencil"></i>
                                            
                                        </button>
                                        <button type="button" rel="tooltip"
                                            class="btn btn-success btn-icon btn-sm   btn-neutral" *ngxPermissionsOnly="['DELETE_USER']" (click)="confirmUserDeletion(user?.id)">
                                            <i class="fa fa-remove text-danger"></i>
                                        </button>
                                        <!-- <button type="button" rel="tooltip"
                                            class="btn btn-danger btn-icon btn-sm   btn-neutral  ">
                                            <i class="fa fa-times"></i>
                                        </button> -->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>