<div *ngIf="canShowDetails">
    <div class="row" style="margin-bottom: 20px;">
   
        <div class="col-md-4" *ngIf="allocation">
            <span class="card-category text-left text-default"> Estado da alocação  </span>
            <span class="badge badge-pill badge-success badge-content" [ngClass]="{'badge-warning': allocation?.status!='CLOSED'}"> {{allocation?.status | processStatus}}</span>
        </div>
        <div class="col-md-4" *ngIf="allocation">
            <span class="card-category text-left text-default"> alocação </span>
            <span class="badge badge-pill badge-success badge-content" [ngClass]="{'badge-warning': allocation?.closed!=true}"> {{allocation?.closed | allocationClosed}}</span>
        </div>
    
        <div class="col-md-4">
            <span class="card-category text-left text-default"> Estado do processo </span>
            <span class="badge badge-pill badge-success badge-content" [ngClass]="{'badge-warning': allocation?.process?.processStatus!='CLOSED'}"> {{process?.processStatus | processStatus}}</span>
        </div>
    </div>
    <div class="card mt-10">
        <div class="card-header">
            
            
            <div class="row">
                <div class="col-md-4">
                     <p class="card-category">Actualizar alocação</p>
                </div>
            </div>
        </div>
        <div class="card-body allocation-details">
    
            <div class="row">
                <div class="col-md-12">
                    <h6 class="title text-primary">Dados do Requerente</h6>            
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="">Nuit:</label>
                            <span>{{process?.complainer?.nuit}}</span>
                        </div>
                        <div class="col-sm-12">
                            <label for="">Nome:</label>
                            <span>{{process?.complainer?.name}}</span>
                        </div>
                        
                    </div>
    
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="">Celular:</label>
                            <span>{{process?.complainer?.mobile}}</span>
                        </div>
                        <div class="col-sm-12">
                            <label for="">Email:</label>
                            <span>{{process?.complainer?.email}}</span>
                        </div>
                        <div class="col-sm-12">
                            <label for="">Endereço:</label>
                            <span>{{process?.complainer?.address}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="section-divider">
    
            <div class="row">
                <div class="col-md-12">
                    <h6 class="title text-primary">Dados do processo</h6>            
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="">Código do processo:</label>
                            <span>{{process?.code}}</span>
                        </div>
                        <div class="col-sm-12">
                            <label for="">Tipo de processo:</label>
                            <span>{{process?.processType | processType}}</span>
                        </div>
                    </div>
    
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="">Tipo de requerente:</label>
                            <span>{{process?.complainerType | complainerType}}</span>
                        </div>
                    </div>
    
                </div>
                <div class="col-md-12" style="margin-top: 10px;">
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="" style="display: block;">Descrição/Razões:</label>
                            <span>{{process?.description}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="section-divider">
    
            <div class="row attachments">
                <div class="col-md-12">
                    <h6 class="title text-primary">Anexos</h6>
                </div>
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <!-- <th class="text-left">Nome atribuído</th> -->
                            <th class="text-left">Nome do ficheiro</th>
                            <th class="text-right">Accções</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr  *ngFor="let attachment of process?.attachments; let i = index">
                                <!-- <td class="text-left">{{attachment?.fileName}}</td> -->
                                <td class="text-left">{{attachment?.originalFileName}}</td>
                                <td class="text-right">
                                    <button type="button" class="btn btn-info  btn-sm mr-2" (click)="preview(attachment)">
                                        <i class="fa fa-download" aria-hidden="true"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
    
                    <div class="modal fade" id="noticeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-notice">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                <i class="nc-icon nc-simple-remove"></i>
                              </button>
                            </div>
                            <div class="modal-body">
                             <div *ngIf="showPreview">
                                <embed [src]="safeUrl" class="card-img-top" type="application/pdf" width="800px" height="500px">
                              </div>
                            </div>
                            <div class="modal-footer justify-content-center">
                              <button type="button" class="btn btn-info btn-round" data-dismiss="modal">Fechar</button>
        
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
               
    
                
            </div>
    
            <hr class="section-divider">
    
        </div>
    
        
    
    </div>
    
    
    
    <div class="row">
        <div class="col-md-12">
          <div class="card card-timeline card-plain">
            <div class="card-body">
              <ul class="timeline">
                <li class="" [ngClass]="{'timeline-inverted': i%2!=0}" *ngFor="let allocationComment of allocationComments; let i = index">
                    <div class="timeline-badge danger" *ngIf="i%2!=0">
                        <i class="nc-icon nc-single-copy-04"></i>                    
                      </div>
                    <div class="timeline-badge success" *ngIf="i%2==0">
                        <i class="nc-icon nc-single-copy-04"></i>
                      </div>
                    
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <span class="badge badge-pill" [ngClass]="{'badge-danger': i%2!=0, 'badge-success': i%2==0}">{{allocationComment?.title}}</span>
                    </div>
                    <div class="timeline-body">
                      <p>{{allocationComment?.comment}}.</p>
                    </div>
                    <h6>
                      <i class="fa fa-clock-o"></i> {{allocationComment?.createdAt | date : "dd.MM.yyyy HH:mm"}}
                      <span *ngIf="allocationComment?.from=='STAFF'">PA: </span>
                      <span *ngIf="allocationComment?.from=='COMPLAINER'" >UT: </span>
                      <span> {{allocationComment?.authorName}}</span>
                    </h6>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
</div>
