<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-primary">
                           <tr>
                            <th class="text-center">
                                Processo
                            </th>
                            <th>
                                Tipo
                            </th>
                            <th>
                                Estado
                            </th>
                            <th class="text-center">
                                Requerente
                            </th>
                            <th class="text-right">
                                Acções
                            </th>
                           </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let process of processes">
                                <td class="text-center">
                                    {{process?.code}}
                                </td>
                                <td>
                                    {{process?.processType | processType}}
                                </td>
                                <td>
                                    {{process?.processStatus | processStatus}}
                                </td>
                                <td class="text-center">
                                    {{process?.complainer?.name}}
                                </td>
                                <td class="text-right">
                                    <!-- <button type="button" rel="tooltip"
                                        class="btn btn-info btn-icon btn-sm   btn-neutral  ">
                                        <i class="fa fa-eye"></i>
                                    </button> -->

                                    <button type="button" 
                                        class="btn btn-info btn-icon btn-round btn-sm btn-neutral" (click)="processDetails(process?.id)">
                                        <i class="fa fa-eye"></i>
                                    </button>
                                    <!-- <button type="button" 
                                        class="btn btn-success btn-icon btn-round btn-sm ">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                    <button type="button" 
                                        class="btn btn-danger btn-icon btn-round btn-sm ">
                                        <i class="fa fa-trash"></i>
                                    </button> -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card-footer">
                <pagination
                    [pageableMeta]="pageableMeta"
                    [pageRequest]="pageRequest"
                    [maxSize]="2"
                    [firstLastButtons]="true"
                    
                    (onPaginationEvent)="onPaginationEvent($event)"
                    >
                </pagination>
            </div>
        </div>
    </div>
</div>