<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title text-left text-primary">
                        Alocações
                    </h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="">
                                <tr>
                                    <th>
                                        Processo
                                    </th>
                                    <th>
                                        Estado
                                    </th>
                                    <th>
                                        Requerente
                                    </th>
                                    <th>
                                        Alocado à
                                    </th>
                                    <th>
                                        Fechada
                                    </th>
                                    <th class="text-right" *ngIf="canShowFollowUpOption">
                                        Acções
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let allocation of allocations">
                                    <td class="">
                                        {{allocation?.process?.code}}
                                    </td>
                                    <td>
                                        {{allocation?.status | processStatus}}
                                    </td>
                                    <td>
                                        {{allocation?.process?.complainer?.name}}
                                    </td>
                                    <td>
                                        {{allocation?.staff?.name}}
                                    </td>
                                    <td>
                                        <span class="badge badge-pill badge-success badge-content"
                                            *ngIf="allocation?.closed">Fechada</span>
                                        <span class="badge badge-pill badge-danger badge-content"
                                            *ngIf="!allocation?.closed">Aberta</span>
                                    </td>
                                    <td class="text-right" *ngIf="canShowFollowUpOption">


                                        

                                        <button type="button" rel="tooltip" class="btn btn-warning btn-sm" *ngIf="!allocation?.closed; else allocationDetails"
                                            (click)="followUpAllocation(allocation?.id)">
                                            <span>Seguimento</span>
                                        </button>

                                        <ng-template #allocationDetails>
                                            <button type="button" class="btn btn-info btn-icon btn-round btn-sm btn-neutral"
                                            (click)="followUpAllocation(allocation?.id)">
                                            <i class="fa fa-eye"></i>
                                        </button>
                                        </ng-template>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>